mat-list-item.mat-list-item {
  height: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}

.active-item {
  background: rgba(200, 200, 200, 0.4);
}

.items-list {
  width: 280px;
}

.projects-list-title {
  padding: 16px;
}
